---
import Layout from "../layouts/Layout.astro";


---
<Layout title="Portafolio app error 404 ">
    <section class="flex overflow-hidden flex-col justify-center items-center px-20 py-24 bg-green-950 max-md:px-5 w-full h-screen">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/0787d6f60d5f4950c71cd4388633e907a050db63325f7dc4f8f914a94bf65c24?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="Hero section banner" class="object-contain rounded-3xl aspect-[1.41] max-w-full max-md:max-w-full" />
    </section>
    
</Layout>